/* Common */

html {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.main-content {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-around;
}

/* Header & Footer */

.header-footer {
    background-color: whitesmoke;
}

.header-container {
    margin-bottom: 1rem;
    flex: 0 0 auto;
}

.info {
    /*min-height: 100px;*/
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info button {
    margin: 0 2rem;
    width: 8rem;
}

.footer-container {
    margin-top: 1rem;
    flex: 0 0 auto;
}

.footer-info {
    flex-direction: column;
    font-size: 14px;
}

.hidden {
    display: none;
}

/* Main Content */

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
